<header>
    <nav class="navbar fixed">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/img/book-icon.ico" alt="Logo" width="50">
            </a>
            <a href="/"><h1>Banca de Dados</h1></a>
            <a href="/"><h4>Administrativo</h2></a>
        </div>
    </nav>
</header>