<%- include ('./partials/head.ejs') %>

<body>
    <%- include ('./partials/navbar.ejs') %>
    <main>
        <section class="opcoes">
            <div class="container text-center">
                <div class="row align-items-start">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <a href="/clientes/pagina/1">
                            <button type="button submit" class="opcao btn btn-primary">Clientes</button>
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <a href="/gerentes/pagina/1">
                            <button type="button" class="opcao btn btn-primary">Gerentes</button>
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <a href="/vendedores/pagina/1">
                            <button type="button" class="opcao btn btn-primary">Vendedores</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container text-center">
                <div class="row align-items-start">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <a href="/produtos">
                            <button type="button" disabled class="opcao btn btn-primary">Produtos</button>
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <a href="/estoques">
                            <button type="button" disabled class="opcao btn btn-primary">Estoques</button>
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <a href="/fornecedores">
                            <button type="button" disabled class="opcao btn btn-primary">Fornecedores</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container text-center">
                <div class="row align-items-start">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <a href="/banca">
                            <button type="button" class="opcao btn btn-primary">Banca</button>
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <a href="/compras">
                            <button type="button" disabled class="opcao btn btn-primary">Compras</button>
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <a href="/notasfiscais">
                            <button type="button" disabled class="opcao btn btn-primary">Notas Fiscais</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
<%- include ('./partials/foot.ejs') %>