@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');



@media (min-width: 576px) { 
    /* Página inicial */
    .opcoes > .container > .row {
        margin-bottom: 50px;
    }
    .opcoes > .container > .row > div {
        margin-bottom: 50px;
    }

    .opcoes > .container > .row > div:last-child {
        margin-bottom: 0px;
    }

    /* navbar */
    .navbar {
        margin-bottom: 25px;
    }

    .navbar h1 {
        font-size: 1.5em;
    }

    .navbar h4 {
        font-size: 1em;
    }

    /* Lista  */
    h2.text-light {
        font-size: 1em;
    }

    .navegarPaginasTabela > .btn:first-child {
        margin-right: 25px;
    }
    
    .navegarPaginasTabela > a:first-child {
        margin-right: 25px;
    }
    
    .navegarPaginasTabela button {
        width: 60px;
    }
}

@media (min-width: 768px) {
    .opcoes > .container > .row {
        margin-bottom: 25px;
    }
    .opcoes > .container > .row > div {
        margin-bottom: 0px;
    }

    .opcoes > .container > .row > div {
        font-size: 0.8em;
    }

    h2.text-light {
        font-size: 1.5em;
    }

    .navegarPaginasTabela > .btn:first-child {
        margin-right: 25px;
    }
    
    .navegarPaginasTabela > a:first-child {
        margin-right: 25px;
    }
    
    .navegarPaginasTabela button {
        width: 80px;
    }

    .cardsDashboard h3 {
        font-size: 1.2em;
    }
}

@media (min-width: 992px) {
    .opcoes > .container > .row {
        margin-bottom: 25px;
    }
    .opcoes > .container > .row > div {
        margin-bottom: 0px;
    }

    .opcoes > .container > .row > div {
        font-size: 1em;
    }

    .navegarPaginasTabela > .btn:first-child {
        margin-right: 25px;
    }
    
    .navegarPaginasTabela > a:first-child {
        margin-right: 25px;
    }
    
    .navegarPaginasTabela button {
        width: 100px;
    }

    .cardsDashboard h3 {
        font-size: 2em;
    }
}

@media (min-width: 1200px) {
    .opcoes > .container > .row {
        margin-bottom: 25px;
    }
    .opcoes > .container > .row > div {
        margin-bottom: 0px;
    }

    .opcoes > .container > .row > div {
        font-size: 1em;
    }

    .navegarPaginasTabela > .btn:first-child {
        margin-right: 25px;
    }
    
    .navegarPaginasTabela > a:first-child {
        margin-right: 25px;
    }
    
    .navegarPaginasTabela button {
        width: 100px;
    }
  }


.opcoes .row {
    margin-bottom: 20px;
}

.opcoes .container:last-child .row {
    margin-bottom: 0px;
}

.opcao {
    width: 80%;
    padding: 30px;
    font-size: 1.5em;
}

.opcaoSQL {
    width: 100%;
    padding: 10px;
}

.tabela {
    margin-top: 25px;
}

a {
    text-decoration: none;
    color: inherit;
}

.voltar {
    margin-top: 25px;
    margin-bottom: 25px;
}

.card h4 {
    margin: 0;
    padding: 10px 0;
}

.submitOperacao {
    width: 40%;
    display: block;
    margin: 0 auto;
}

.formOperacao {
    display: inline;
}

.formOperacao button {
    padding: 0 20px;;
}

.card-title h4 {
    font-size: 1em;
    padding: 0;
}

.infoBanca h1 {
    margin: 0;
}

.cardsDashboard .row .col > .card-body {
    display: flex;
    justify-content: center;
}

.cardsDashboard .row .col > .card-body > .card {
    width: 80%;
    height: 200px;
}

.cardsDashboard .row .col > .card-body > .card > .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsDashboard .row .col > .card-body > .card > .card-body h5 {
    font-size: 5em;
}

