<%- include ('../partials/head.ejs') %>

<body>
        <%- include ('../partials/navbar.ejs') %>
            <div class="container">
                <a href="/"><button type="button" class="voltar btn btn-success">Voltar para o início</button></a>
                <section class="operacoesSQL">
                    <div class="container text-center">
                        <div class="row align-items-start">
                            <div class="col">
                                <a href="/gerentes/cadastrar">
                                    <button type="button" class="opcaoSQL btn btn-success">Cadastrar um gerente</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
    </body>

    <%- include ('../partials/foot.ejs') %>